  name: DevSecOps CI CD Pipeline

  on:
    push:
      branches: ["main"]

  jobs:
    scanning-and-generate-reports:
      runs-on: self-hosted
      steps:
        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Create reports directory
          run: |
            mkdir -p ./reports

        - name: Running pylint scan
          run: |
            docker run --rm -v $(pwd):/workspace cytopia/pylint /workspace/backend/app > reports/pylint-report.txt || true

        - name: Uploading Reports
          uses: actions/upload-artifact@v4
          with:
            name: Scan-Reports
            path: /reports
            
