  name: DevSecOps CI CD Pipeline

  on:
    push:
      branches: ["main"]

  jobs:
    scanning-and-generate-reports:
      runs-on: self-hosted
      steps:  

        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Create reports directory
          run: |
            mkdir -p ./reports

        - name: Running pylint scan
          run: |
            docker run --rm -v $(pwd):/workspace cytopia/pylint /workspace/backend/app > reports/pylint-report.txt || true

        - name: Running Flake8 scan
          run: |
            docker run --rm -v $(pwd):/workspace alpine/flake8 /workspace/backend/app > reports/flake8-report.txt || true

        - name: Running Trivy scan
          run: |
            docker run --rm \
              -v $(pwd):/workspace \
              -w /workspace \
              aquasec/trivy fs . > reports/trivy-report.txt

        - name: Debug - Where are the files?
          run: |
            echo "Current Directory: $(pwd)"
            echo "Searching for requirements.txt..."
            find . -name "requirements.txt"
            echo "Searching for package.json..."
            find . -name "package.json"

        - name: Uploading Reports
          uses: actions/upload-artifact@v4
          with:
            name: Scan-Reports
            path: reports/

        # # --- DOCKER CLEANUP (HYGIENE) ---
        # - name: Docker System Cleanup
        #   if: always()
        #   run: |
        #     echo "Cleaning up local Docker resources..."
        #     # Remove all 'dangling' images, containers, and networks not in use
        #     docker system prune -f
            
        #     # Optional: If you want to be aggressive and remove ALL unused images (not just dangling)
        #     # docker image prune -a -f --filter "until=24h"
            
        - name: Local File Cleanup
          if: always()
          run: rm -rf reports
            
