  name: DevSecOps CI CD Pipeline

  on:
    push:
      branches: ["main"]

  jobs:
    scanning-and-generate-reports:
      runs-on: self-hosted
      steps:  

        - name: Checkout Code
          uses: actions/checkout@v4

        - name: Create reports directory
          run: |
            mkdir -p ./reports

        - name: Running pylint scan
          run: |
            docker run --rm -v $(pwd):/workspace cytopia/pylint /workspace/backend/app > reports/pylint-report.txt || true

        - name: Running Flake8 scan
          run: |
            docker run --rm -v $(pwd):/workspace alpine/flake8 /workspace/backend/app > reports/flake8-report.txt || true

        - name: Running Trivy scan
          run: |
            docker run --rm \
            -v $(pwd):/workspace \
            aquasec/trivy fs /workspace \
            > reports/trivy-report.txt || true

        - name: Build Images
          run: |
            docker compose build --pull

        - name: Scan Docker Images using Trivy
          run: |
            for voting_app_backend:latest voting_app_frontend:latest; do \
              docker run --rm -v /var/run/docker.sock:/var/run/docker.sock \
              -v $(pwd/reports):/reports \
              aquasec/trivy image ${img} >> reports/trivy-image-scan.txt || true;
            done

        - name: Uploading Reports
          uses: actions/upload-artifact@v4
          with:
            name: Scan-Reports
            path: reports/

        # # --- DOCKER CLEANUP (HYGIENE) ---
        # - name: Docker System Cleanup
        #   if: always()
        #   run: |
        #     echo "Cleaning up local Docker resources..."
        #     # Remove all 'dangling' images, containers, and networks not in use
        #     docker system prune -f
            
        #     # Optional: If you want to be aggressive and remove ALL unused images (not just dangling)
        #     # docker image prune -a -f --filter "until=24h"
            
        - name: Local File Cleanup
          if: always()
          run: rm -rf reports
            
